aniso8601==5.1.0
certifi==2019.6.16
chardet==3.0.4
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2.24
django-cors-headers==3.0.2
django-crispy-forms==1.4.0
django-durationfield==0.5.1
django-environ==0.4.5
django-filter==2.0.0
django-graphql-jwt==0.2.1
django-graphql-social-auth==0.1.4
graphene==2.1.5
graphene-django==2.2.0
graphql-core==2.2
graphql-relay==0.4.5
gunicorn==19.9.0
idna==2.8
oauthlib==3.0.2
promise==2.2.1
psycopg2==2.8.3
PyJWT==1.7.1
python-dateutil==2.4.2
python-decouple==3.1
python-dotenv==0.10.2
python3-openid==3.1.0
pytz==2019.1
relativetimebuilder==2.0.0
requests==2.22.0
requests-oauthlib==1.2.0
Rx==1.6.1
singledispatch==3.4.0.3
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
sqlparse==0.3.0
urllib3==1.25.3
whitenoise==4.1.3
